### 1. Write a code to create a string with your name and print it

In [2]:
Name="Ankita"
print(type(Name),Name)

<class 'str'> Ankita

###2. Write a code to find the length of the string "Hello World".

In [5]:
"Hello World"
print(len("Hello World"))

11

###3. Write a code to slice the first 3 characters from the string "Python Programming".

In [8]:
str="Python Programming"
print(str[0:3])

Pyt

###4.  Write a code to convert the string "hello" to uppercase.

In [10]:
str='hello'
print(str.upper())

HELLO

###5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [12]:

str="i like apple"
print(str.replace("apple","orange"))

i like orange

###6.Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

###8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [15]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [16]:
list=['a','b','c','d']
print(list[1])

b

###10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [17]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

###11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [18]:
tup=(100,200,300)
print(tup)

(100, 200, 300)

###12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [21]:
tup=("red","green","blue","yellow")
print(tup[-2])

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [22]:
tup=(10,20,5,15)
print(min(tup))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
tup=('dog','cat','rabbit')
print(tup.index('cat'))

1

###15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
fruit=("apple","banana","kiwi")
print("kiwi"in fruit)

True

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [27]:
set={"a","b","c"}
print(set)

{'b', 'c', 'a'}

### 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [28]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

###18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [30]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [31]:
set1={1,2,3}
set2={2,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
set1={1 ,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
dict={
    "name": "Ankita",
    "age": "21",
    "city":"delhi"
}
print(type(dict),dict)

<class 'dict'> {'name': 'Ankita', 'age': '21', 'city': 'delhi'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [41]:
dict={
    "name":"john",
    "age":"25"
}
dict["country"]=["USA"]
print(dict)

{'name': 'john', 'age': '25', 'country': ['USA']}

### 23. . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [42]:
dict={
    "name":"alice",
    "age":"30"
}
print(dict.get("name"))

alice

### 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [50]:
dict={
    "name":"Bob",
    "age":"22",
    "city":"New York"
}
print(dict.pop("age"))
print(dict)

22
{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [51]:
dict={
    "name":"Alice",
    "city":"Paris"
}
print("city" in dict)

True

### 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [53]:
list=[1,2,"ankita","delhi",2.4,2+4j]
tup=(1,2,"ankita","delhi",2.4,2+4j)
dict={
    "name":"ankita",
    "age":"21",
    "city":"delhi"
}
print(type(list),list)
print(type(tup),tup)
print(type(dict),dict)

<class 'list'> [1, 2, 'ankita', 'delhi', 2.4, (2+4j)]
<class 'tuple'> (1, 2, 'ankita', 'delhi', 2.4, (2+4j))
<class 'dict'> {'name': 'ankita', 'age': '21', 'city': 'delhi'}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [63]:
import random
random=random.sample(range(1,100),5)
random.sort()
print(random)

[1, 5, 6, 80, 98]

### 28.Write a code to create a list with strings and print the element at the third index.

In [64]:
list=["1","ankita","21","delhi"]
print(list[3])

delhi

### 29.Write a code to combine two dictionaries into one and print the result.

In [67]:
dict1={
    "name":"ankita",
    "age":"21",
    "city":"delhi"
}
dict2={
    "phy":"58",
    "che":"72",
    "maths":"91"
}
combine=dict1.copy()
combine.update(dict2)
print(combine)

{'name': 'ankita', 'age': '21', 'city': 'delhi', 'phy': '58', 'che': '72', 'maths': '91'}

### 30. Write a code to convert a list of strings into a set.

In [78]:
list1=["ankita","3+7j","23.4"]
set_word = set(list1)
print(set_word)

TypeError: 'set' object is not callable